{% extends "base.html" %}

{% block content %}

    {% for category, posts in post.items %}
      {% if forloop.first %}
      <div class="item-first-content">
          <div class="item-subcontent">
            <a href="{% url 'blog:category_list' category.slug %}"> <h2> {{category.name}} </h2> </a>
          </div>
          
            {% for post in posts %}
              {% if forloop.first %}
                <div class="item-subcontent1">
                  <img src="{{ post.image.url }}" style="height: 300px; width: 340px;">
                  <p><a href="{{ post.get_absolute_url }}"> <h4> {{ post.title }} </h4> </a></p>           
                  {{ post.text|truncatewords:20|linebreaks }}
                </div>
              {% else %}
                <div class="item-subcontent2">
                      <div class="trial">                
                        <img src="{{ post.image.url }}" style="height: 70px; width: 90px;">
                        <a href="{{ post.get_absolute_url }}" style="font-weight: bold;">  {{post.title}} </a>
                      </div>
                    
                </div>
              {% endif %}          
            {% endfor %}
          
        
      </div>
      {% else %}
      <div class="item-other-content">
        
          <a href="{% url 'blog:category_list' category.slug %}"> <h2> {{category.name}} </h2> </a>
          {% for post in posts %}
            {% if forloop.first %}
              <div class="sub-other-content1">
                <img src="{{ post.image.url }}" style="height: 300px; width: 340px;">
                <p> <a href="{{ post.get_absolute_url }}"> <h4> {{ post.title }} </h4> </a> </p>            
                {{ post.text|truncatewords:20|linebreaks }}
            </div>
            {% else %}
              <div class="sub-other-content2">
                <ul>
                  <li class="both">
                    <img src="{{ post.image.url }}" style="height: 70px; width: 100px;">
                    <a href="{{ post.get_absolute_url }}"> <h4> {{post.title}} </h4> </a>
                  </li>
                </ul>
            </div>
            {% endif %}          
          {% endfor %}
        
      </div>
      {% endif %}
    {% endfor %}

{% endblock %}
